<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

    {% include head.html %}

</head>

<body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    {% include header.html %}

    <main id="content" class="main-content" role="main">

        {{ content }}

        {% include footer.html %}

    </main>
    <script>
        /**
         * 
         * @param {int} year  
         * @param {int} month 
         * @param {int} date 
         * @link  https://github.com/renbaoshuo/baoyun-site
         */
        function getAgeInfo(year, month, date) {
            var nowtime = new Date();
            var nyear = nowtime.getUTCFullYear();
            var nmonth = nowtime.getUTCMonth() + 1;
            var nday = nowtime.getUTCDate();
            var r = "";
            if (nmonth == month) {
                if (nday == date) {
                    r = `I'm&nbsp;<b>${nyear - year}</b>&nbsp;years&nbsp;old&nbsp;now.<br><b style="color: #dc143c;"><small>Today is my birthday!</small></b>`;
                } else if (nday > date) {
                    r = `I'm&nbsp;<b>${nyear - year}</b>&nbsp;years&nbsp;old&nbsp;now.`;
                } else if (nday < date) {
                    r = `I'm&nbsp;<b>${nyear - year - 1}</b>&nbsp;years&nbsp;old&nbsp;now.`;
                }
            } else if (nmonth > month) {
                r = `I'm&nbsp;<b>${nyear - year}</b>&nbsp;years&nbsp;old&nbsp;now.`;
            } else if (nmonth < month) {
                r = `I'm&nbsp;<b>${nyear - year - 1}</b>&nbsp;years&nbsp;old&nbsp;now.`;
            }
            return r;
        }
        document.getElementById('baoshuo-age').innerHTML = getAgeInfo(2006, 06, 04);
        document.getElementById('baoshuo-age').style.display = 'block';
    </script>
</body>

</html>